.messageList {
    width: 63%;
    overflow: hidden;
    overflow-y: scroll;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}